.Cart_Modal {
  position: fixed;
  z-index: 1;
  padding-top: 56px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Cart_Modal__content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: auto;
}

.Close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.Close:hover,
.Close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Cart__total {
  text-align: end;
}

@media only screen and (max-width: 600px) {
  .Cart__total {
    text-align: left;
  }
}

.Cart__total_amount {
  color: #333;
  font-size: 1.1em;
  margin-top: 10px;
  margin-right: 20px;
}

.Cart__total_title {
  font-weight: 700;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.Cart__total_price {
  color: #333;
  font-size: 1.1em;
  margin-top: 10px;
  margin-right: 20px;
}
