.Modal_for_image {
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.Modal_image__content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 28%;
  border-radius: 3%;
}

.Caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  height: 150px;
}

.Modal_image__content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.closeImageModal {
  position: absolute;
  top: 70px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 700;
  transition: 0.3s;
}

.closeImageModal:hover,
.closeImageModal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Modal_image__content {
    width: 90%;
  }
}
